html {
  font-size: 312.5%;
}

body {
  font-size: initial;
  margin: 0;
  background: #29BDE0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1rem;
  background: #29BDE0;
  border-bottom: solid 1px #74d4eb;
  z-index: 1;
}

header .back {
  width: 0.24rem;
  height: 0.24rem;
  margin-left: .4rem;
  border-top: 0.05rem solid #ffffff;
  border-right: 0.05rem solid #ffffff;
  transform: rotate(225deg);
  cursor: pointer;
}

header .font {
  font-size: .45rem;
  color: #ffffff;
  letter-spacing: .15rem;
}

header .close {
  display: inline-block;
  margin-right: .64rem;
  width: 2px;
  height: 30px;
  transform: rotate(45deg);
  background: #ffffff;
}

header .close::after {
  content: "";
  display: block;
  width: 2px;
  height: 30px;
  transform: rotate(-90deg);
  background: #ffffff;
}

main {
  margin: 1rem 0 2rem 0;
}

main .player {
  display: flex;
  flex-flow: wrap;
}

main .player .people {
  display: flex;
  flex-direction: column;
  display: none;
  width: 30vw;
  height: 30vw;
  padding: 1.6vw;
}

main .player .people .identity {
  width: 100%;
  height: 70%;
  background: #FBB435;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .player .people .amount {
  width: 100%;
  height: 30%;
  background: #F56B81;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2rem;
  background: #29BDE0;
  z-index: 1;
}

footer button {
  width: 100%;
  height: 1rem;
  margin: 0 .75rem;
  background: #FBB435;
  font-size: .5rem;
  letter-spacing: .15rem;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0 0 0 1.5px #FBB435;
}
