body {
    background: rgb(0, 255, 234);
}

.jiantou{ margin-left: 10px;
}
.ptteng{text-align:center;
 
}
.txt{text-align:justify;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20%;
    margin-bottom: 20%;
    color: white
}
.ren{float: left;
    text-align: center;
    margin-left: 11%;

}
.ppt{float: right;
    text-align: center;
    margin-right: 11%
    
}
