body{
    background-color: #eff0f4;
    margin: 0px;

}
.header{
    background-color: #5fc0cd;
    text-align: center;
    padding: 20px;
}
.register{
    color: white;
   float: left;
  padding-left: 5px;
  padding-top: 3px;
}
  
.Sign-in{
    color: white;
    text-align: center;
    
    
}
.close{
    color:white;
    float: right;
    padding-right: 5px;
    padding-top: 3px;
    

}