html {
  font-size: 312.5%;
}

body {
  font-size: initial;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #29BDE0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

header img {
  width: .6rem;
  margin: 0 .2rem;
}

header span {
  color: #fff;
  font-size: 17px;
  margin: .4rem 0;
}

main {
  margin-top: 1.3rem;
  background: #29BDE0;
}

main .top {
  position: relative;
  text-align: center;
}

main .top img {
  width: 3.51rem;
  height: 2.05rem;
}

main .top span {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: .3rem;
  margin-left: -.88rem;
  color: #fff;
  font-size: 22px;
}

main p {
  margin: .2rem .8rem .6rem .8rem;
  text-align: left;
  color: #FFC865;
  font-size: 17px;
}
