html {
    font-size: 625%;
}

body {
    margin: 0;
    font-size: initial;
}

header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: .64rem;
    width: 100%;
    background-color: #5fc0cd;
    z-index: 1;
}
a{
    background: url(../task6/img/css_sprites.png)no-repeat -10px -195px;
    position: absolute;
    width: 22px;
    height: 22px;
    top: 50%;
    margin-top: -11px;
    right: 15px;
}

.boss {
    font-size: 16px;
    color: #ffffff;
    background-color: #55a8b3;
    border-radius: 7px;
    padding: .1rem .2rem .1rem .13rem;
    border: none;
    outline: none;
}

.btn {
    font-size: 16px;
    color: #5fc0cd;
    background-color: #ffffff;
    border-radius: 7px;
    padding: .1rem .2rem .1rem .13rem;
    border: none;
    outline: none;
    margin-left: -.13rem;
}

main {
    margin-top: .64rem;
}
/*  导航栏开始*/
.nav {
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e1e5e7;   
    height: .64rem;
    z-index: 1;
}
.site {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: .2rem;
    line-height: .64rem;
}

.sjx {
    position: absolute;
    right: .15rem;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #afbac0;
}

.dropdown-content
  {
    display: none;
    position: absolute;
    top:.65rem;
    width: 100%;
    padding: 0;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
ul.dropdown-content li{
    list-style: none;
    text-align: center;
}
.site:hover .dropdown-content{
    display: block;
    color: #333333;
}
.color:hover{
    background-color: #5fc0cd;
}
.sold{
    width: 100%;
    text-align: center;
    border-left: 1px solid #e1e5e7;
    border-right: 1px solid #e1e5e7;
}
/* 导航栏结束 */
/* main中间部分 */
ul{
    margin: 0;
   padding-top: .6rem;
}
.demand{
    height: 1rem;
    margin-left: -.53rem;
    border-bottom: 1px solid #e1e5e7;
    line-height: .12rem;
}
.deman{
    height: 1rem;
    border-bottom: 1px solid #e1e5e7;
    line-height: .12rem; 
    margin: 0 0 .8rem -.53rem ;
}
li{
    list-style: none;
}
.date{
    font-size: .2rem;
    letter-spacing: .03rem;
    color: #999999;
    margin-left: .1rem;
}
.date::before{
    content: "";
    background: url(../task6/img/css_sprites.png) no-repeat -10px -42px;
    display: inline-block;
    width: 13px;
    height: 12px;
    margin-right: .1rem;
}
.price{
    display: flex;
    justify-content: space-between;
    height: .2rem;
}
.year{
    font-size: .18rem;
    margin-left: .36rem;
    line-height: .2rem;
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow:ellipsis;
}
.value{
    font-size: .2rem;
    color: #e63b0e;
}
.address{
    font-size: .18rem;
    margin-left: .1rem;
}
.address::before{
    content: "";
    background: url(../task6/img/css_sprites.png) no-repeat -10px -10px;
    display: inline-block;
    width: 10px;
    height: 12px;
    margin-right: .1rem;
}
.value::after{
    display: inline-block;
    content: "";
    width: 10px;
    height: 10px;
    margin: 0 .12rem;
    border-top: 2px solid #5fc0cd;
    border-right: 2px solid #5fc0cd;
    transform: rotate(45deg);
    white-space: nowrap;
}
/* 底部*/
footer{
    position: fixed;
    bottom: 0;
    background: #f8fafb;
    height: .65rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.home{
    font-size: .1rem;
    color: #55a8b3;
    border: none;
    outline: none;
    background: #f8fafb;
}
.home::before{ 
    content: "";
    display: block;
    background: url(../task6/img/css_sprites.png)no-repeat -10px -114px;
    width: 23px; 
    height: 20px;   
}

.write{
    display: inline-block;
    border-radius: .5rem;
    width: .6rem;
    height: .6rem;
    border: none;
    outline: none;
    background: #55a8b3;  
}
.write::before{
    content: "";
    display:inline-block ;
    background: url(../task6/img/css_sprites.png)no-repeat -10px -74px;
    width: 20px; 
    height: 20px;  
}
.me{
    font-size: .1rem;
    border: none;
    outline: none;
    background: #f8fafb;
}
.me::before{
    content: "";
    display: block;
    background: url(../task6/img/css_sprites.png)no-repeat -8px -154px;
    width: 23px; 
    height: 21px;   
}